



body{

    background-color:#1C0C26 ;
}



.everythingBox{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.aboutPics{
    background-color:#1C0C26;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    margin-bottom: 40px;
    width:80%;
    border-radius: 35px;
}

.imgTeam{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
   
}

.imgTeam img{
   width:320px;
   border-style: double;
   border-width: 15px;
   border-color:#FF5F40;
   border-radius: 200px;
}


 h3 {
    padding-top: 25px;
    padding-bottom: 25px;
    color:#FF5F40;;
    font-family: 'Righteous';
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px white;
    /* animation-name: theTeam;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: 1.5; */
    animation: 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-name: theTeam ;
  
}

@keyframes theTeam {
    0% {
      letter-spacing: 1em;
      transform: translateZ(300px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      transform: translateZ(12px);
      filter: blur(0);
      opacity: 1;
    }
  }



/* @keyframes theTeam{
    0% {color:#FF5F40; left:0px; right:0px;}
    25%{color:#679B9B; left:200px; right:200px;}
    50% {color:#FF5F40; left:0px; right:0px;}
    75%{color:#679B9B; left:200px; right:200px;}
    100% {color:#FF5F40; left:0px; right:0px;}
} */

p {
    padding-top: 5px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 55px;
    color:#FF9A76;
    font-family: 'Righteous';
    font-size: 18px;
    text-align: center;
    
}

.role {
    color:white;
   
}

footer{

    background-color:#1C0C26 ;
}






@media(max-width:500px){


@keyframes theTeam{
    0% {color:#FF5F40;}
    25%{color:#679B9B;}
    50% {color:#FF5F40;}
    75%{color:#679B9B; }
    100% {color:#FF5F40;}
}

}