


.everythingBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.aboutPics{
    background-color:#1C0C26;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    width:80%;
}

.imgTeam{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
   
}

.imgTeam img{
   width:320px;
   border-style: double;
   border-width: 15px;
   border-color:#FF5F40;
   border-radius: 200px;
}


 h3 {
    padding-top: 25px;
    padding-bottom: 25px;
    color:#B0330D;;
    font-family: 'Righteous';
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px white;
}

p {
    padding-top: 5px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 55px;
    color:#FF9A76;
    font-family: 'Righteous';
    font-size: 18px;
    text-align: center;
    
}

.role {
    color:white;
   
}
