
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



body{

    background-color:#1c0c26;
    width: 100%;
}



/* HEADER START */



header{
width:100%;
background-color:#1C0C26;
border-bottom-left-radius:25px ;
border-bottom-right-radius:25px ;
border-bottom-style: solid;
border-bottom-color: white;
border-bottom-width: 3px;
}

.headerContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img{
    width:120px;
   margin-left: 50px;
}

/* NAV BAR */

nav{
padding-right:100 px;
padding-top: 60px;

}

a.homelink {
text-decoration: none;
font-family: 'Righteous';
color: white;
font-weight: bolder;
padding-right: 35px;
}

a.aboutlink {
text-decoration: none;
font-family: 'Righteous';
color: white;
font-weight: bolder;
padding-right: 35px;
}

a.merchlink {
text-decoration: none;
font-family: 'Righteous';
color: white;
font-weight: bolder;
padding-right: 35px;
}

a.memberlink {
text-decoration: none;
font-family: 'Righteous';
color: white;
font-weight: bolder;

    }

a.homelink:hover {
color: #B0330D;
font-family: 'Righteous';
transition-duration: .8s;

}

a.aboutlink:hover {
    color: #B0330D;
    font-family: 'Righteous';
    transition-duration: .8s;
}

a.merchlink:hover {
    color: #B0330D;
    font-family: 'Righteous';
    transition-duration: .8s;
}

a.memberlink:hover {
    color: #B0330D;
    font-family: 'Righteous';
    transition-duration: .8s;
}

/* BUTTON 1 */

button{
    margin-right: 50px;
    background-color: #FF5F40;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Ranchers';
    border-radius: 12px;
    border-color: white;
    border-width: 3px;
    width:150px;
    height: 40px;
    margin-top: 25px;

    
}

a.button1link{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

button:hover{
    background-color: #B0330D;
    transition-duration: .8s;
}


/* HEADER END */



/* SECTION 1 / HERO IMAGE & Mission Statement */



.heroimage {
    background-image:url("assets/image2.jpg");
    width: 100%;
    height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .missionStatement{
      width:500px;
  }

.mainTextBox{
    background-color:#1C0C26;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
 
}

h5 {
    font-size: 60px;
    font-family: 'Righteous';
    color:white;
    padding-left: 25px;
    padding-top:45px;

}

.smallMainText{
    font-size: 30px;
    font-family: 'Righteous';
    color:white;

}



h1 {
    font-size: 100px;
    font-family: 'Ranchers';
    color:#FF5F40;
    text-shadow: 3px 3px white ;
    
}

.greenFont {
    color:#679b9b;
    font-family:'Righteous'
}




/* SECTION 2 */ 


.marketingText{
    background-color:white;
}

.box2{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


 h3 {
    padding-top: 25px;
    color:#B0330D;
    font-family: 'Righteous';
    font-size: 50px;
    text-align: center;

}

.step {
    color:#B0330D;
}



p {
    padding-top: 5px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 5px;
    color:#1C0C26;
    font-family: 'Righteous';
    font-size: 20px;
    text-align: center;
    
}


.imgGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width:100%;
}

.imgGroup img{
   width:280px;
   border-style: solid;
   border-width: 6px;
   border-color:#FF5F40;
   border-radius: 200px;
}


/* SECTION 3 / MORE MARKETING */

.image2{
    background-image:url("assets/hero_img.jpg");
    width: 100%;
    height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.testimonial{
    padding-top:150px;
    color:white;
    padding-right:450px;
}

.testimonial2{
    padding-top:150px;
    color:white;
    padding-left:450px;
}




/* LAST BOX BEFORE FOOTER */

.box{
    background-color:#1C0C26;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

h2{

    font-size: 120px;
    font-family: 'Ranchers';
    color:#ff5f40;
    text-shadow: 3px 3px white ;
}

.beigeFont {
    color:#FF9A76;
    font-family:'Righteous'

}



/* FOOTER ////////////////// */


footer{
    border-top-left-radius:25px ;
    border-top-right-radius:25px ;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 3px;

}

.footerContainer{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}


.leftFooter{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left:25px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:30%; 
}

.leftFooter a{
    font-size: 14px;
}

.middleFooter{
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.copyright {
    font-size: 10px;
    color:white;
}

.middleFooter img{
    width:100px;
    padding-top:25px; 
}

.rightFooter{
padding-right: 25px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width:30%;
}

h4{
font-family: 'Righteous';
color:white;
font-size: 16px;
text-align: center;
}


.smallText{
    font-size: 12px;
    text-align: center;
}

.socialLinks{
    padding-top:25px;
}

.facebook img {
width: 40px;
padding-right: 20px;
}

.instagram img {
width: 40px;
padding-right: 20px;
}

.linkedin img {
    width: 40px;
}










@media(max-width:800px){


    h5 {
        font-size: 40px;
        font-family: 'Righteous';
        color:white;
        padding-left: 25px;
        padding-top:65px;
    
    }
    
    .smallMainText{
        font-size: 20px;
        font-family: 'Righteous';
        color:white;
    }

    h1 {
        font-size: 80px;
    
        }

    h2{
        font-size: 100px;
    }

    a.homelink {
        font-size: 12px;
        padding-right: 18px;
        }
                
    a.aboutlink {
        font-size: 12px;
        padding-right: 18px;
         }
                
    a.merchlink {
        font-size: 12px;
        padding-right: 18px;
        }
    
    a.memberlink{
        font-size: 12px;
        padding-right: 0px;
    }

   
    
    .imgGroup{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        width:100%;
    }
    
    .imgGroup img{
       width:200px ;
       border-style: dotted;
       border-width: 10px;
       border-color:#FF9A76;

}

p {
    font-size: 14px;
}

.testimonial{
    
    padding-right:150px;
}

.testimonial2{
    padding-top:150px;
    padding-left:150px;
}



}




@media(max-width:500px){

.headerContainer{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    }

    .logo img{
        width:180px;
       margin-left: 0px;
    }

nav{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

a.homelink {
    font-size: 30px;
    padding-right: 0px;
    }
            
a.aboutlink {
    font-size: 30px;
    padding-right: 0px;
     }
            
a.merchlink {
    font-size: 30px;
    padding-right: 0px;
    }

a.memberlink{
    font-size: 30px;
    padding-right: 0px;
}
      
button{
        margin-right: 0px;
        font-size: 30px;
        width:180px;
        height: 80px;
        margin-bottom: 25px;
    }   
   
.mainTextBox{
        height: 400px;
}   

.missionStatement{
    width:68%;
}

h1 {
    font-size: 75px;
    text-align: center;

    }


 h2{
        font-size: 72px;
}

.imgGroup{
 display: flex;
 flex-direction: column;


}

.imgGroup img{
   width:380px;
   padding-right:10px;
}

.footerContainer{
    flex-direction: column;
    align-items: center;
    width:100%;
}


.leftFooter{
    width: 70%;
    align-items: center;
    display: none;
}

.middleFooter{
    width:50%;
    
}


.rightFooter{
    width:50%;
    padding-top:50px;
    padding-bottom:50px;
    }

    .testimonial{
        padding-top:150px;
        padding-right:150px;
    }


    .testimonial2{
        padding-top:150px;
        padding-left:150px;
    }

}